
body {
    color: azure;
    background-color: #2F4F4F;
}
a {
    color: #6495ED;
}
header {
    background-color: #2F4F4F;
    margin: 10px 0px 50px 0px;
    padding: 10px;
text-align: right;
}
header span {
margin-left: 10px;
}
div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
footer {
    background-color:#1d3131;
    
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p {
    display: flex;
    justify-content: left;
    margin-left: 50px;
   
}
footer span {
    display: flex;
    justify-content: center;
    
}
footer span a {
  margin-left: 20px;
}
